body {
	background-color: black;
}

* {
	color: white;
	font-family: monospace;
}

.container {
	width: 600px;
	margin: 0 auto;
}

.container .indent {
	display: block;
	padding-left: 4em;
}

.container b, p, a {
	display: inline;
	font-size: 15px;
}
