body {
    background-color: black;
}

* {
    color: orange;
    font-family: monospace;
    text-shadow: 0 0 10px;

    transition: all ease 0.5s;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.container .indent {
    display: block;
    padding-left: 4em;
}

.container b, p, a {
    display: inline;
    font-size: 15px;
}

.container b, p, a, h3, hr {
    visibility: hidden;
    opacity: 0;
}

.portrait img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 50px;
    border: 2px solid orange;
}

.portrait {
    float: right;
}

table, th, td {
    border: 1px solid orange;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}

table .authors {
    white-space: nowrap;
}

.header {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5px;
}

.header div {
    text-align: center;
    padding: 5px;
}

.hidden {
    display: none;
}
