body {
	background-color: black;
}

* {
	color: orange;
	font-family: monospace;
	text-shadow: 0 0 10px;

	transition: all ease 0.5s;
}

.container {
	width: 600px;
	margin: 0 auto;
}

.container .indent {
	display: block;
	padding-left: 4em;
}

.container b, p, a {
	display: inline;
	font-size: 15px;
	visibility: hidden;
	opacity: 0;
}
